@model TripsLog.ViewModels.TripActivitiesViewModel

<form asp-action="AddPage3" method="post">
	<div>
		<label>Activity 1</label>
		<input asp-for="Activity1" class="form-control" />
	</div>
	<div>
		<label>Activity 2</label>
		<input asp-for="Activity2" class="form-control" />
	</div>
	<div>
		<label>Activity 3</label>
		<input asp-for="Activity3" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary mt-3">Save</button>
	<a asp-action="Cancel" class="btn btn-secondary mt-3">Cancel</a>
</form>