<h5 class="mt-3">Tutorial - Page 2</h5>
<p>Here's the second thing you need to know about my website.</p>

<a class="btn btn-secondary me-2" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page1">Prev</a>
<a class="btn btn-dark" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page3">Next</a>

