@model AppointmentsApp.Models.Customer

<h4>Add Customer</h4>
<div asp-validation-summary="ModelOnly" cite="text-danger"></div>

<form asp-action="Add" method="post" class="row gy-3">
	<div class="col-md-6">
		<label asp-for="Username" class="form-label"></label>
		<input asp-for="Username" class="form-control"/>
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Phone" class="form-label">Phone Number</label>
		<input asp-for="Phone" class="form-control" />
		<span asp-validation-for="Phone" class="text-danger"></span>
	</div>

	<div class="col-12">
		<button class="btn btn-primary">Add</button>
		<a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}